@import url('https://fonts.googleapis.com/css?family=Roboto');

/* FontAwesome hack */
@font-face {
  font-family: 'FontAwesome';
  src: url('https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/fonts/fontawesome-webfont.woff?v=4.0.3');
  font-weight: normal;
  font-style: normal;
}

/* Remove table background */
table
{
    background-color: #fff;
}

/* Remove menu background images */
.bBack,
.topBanner,
.TopMenuGroup-0
{
    background-image: none;
}

/* Make banner text visible on white */
.welcomeMsg-txt,
#ctl00_hl_LogOut,
#ctl00_hl_Search
{
    color: #000;
}

/* Replace the icon for What's New
 * fa-bullhorn
 */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > table > tbody > tr > td:nth-child(2) > a:nth-child(1):before
{
    font-size: 2.0em;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: '\f0a1';
    padding-left: 0.5em;
}

/* Replace the icon for Download
 * fa-cloud-download
 */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > table > tbody > tr > td:nth-child(2) > a:nth-child(2):before
{
    font-size: 2.0em;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: '\f0ed';
    padding-left: 0.5em;
}

/* Replace the icon for Download
 * fa-refresh
 */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > table > tbody > tr > td:nth-child(2) > a:nth-child(3):before
{
    font-size: 2.0em;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: '\f021';
    padding-left: 0.5em;
}

/* Replace the profile info icon
 * fa-info-circle
 */
#ctl00_hlProfileInfo:before
{
    font-size: 1.0em;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: '\f05a';
}

/* Replace Logout with icon
 * fa-sign-out
 */
#ctl00_hl_LogOut:before
{
    font-size: 1.5em;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: '\f08b\00a0';
}

/* Replace Search with icon
 * fa-search
 */
#ctl00_hl_Search:before
{
    font-size: 1.5em;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: '\f002\00a0';
}

/* Add TA module icon
 * fa-user
 */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(4) > table > tbody > tr > td:nth-child(2) > a:nth-child(1):before
{
    font-size: 1.8em;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: '\f007';
}

/* Add edit icons
 * fa-pencil-square-o
 */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(4) > table > tbody > tr > td > table > tbody > tr > td:nth-child(2) > a:nth-child(1):before
{
    font-size: 1.0em;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: '\f044';
}

/* Make fa icon hovers NUS orange */
#ctl00_hl_Search:hover,
#ctl00_hl_LogOut:hover,
#ctl00_hlProfileInfo:hover,
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(4) > table > tbody > tr > td:nth-child(2) > a:nth-child(1):hover,
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > table > tbody > tr > td:nth-child(2) > a:hover,
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(4) > table > tbody > tr > td > table > tbody > tr > td:nth-child(2) > a:hover
{
    color: rgb(234, 100, 0);
}

/* Hide everything except "Logout" and "Search" buttons */
#ctl00_tbl_Top > tbody > tr.bBack > td:nth-child(1),
#ctl00_hl_Email,
#ctl00_tbl_Top > tbody > tr.bBack > td:nth-child(2) > font:nth-child(2),
#ctl00_hl_Statistics,
#ctl00_tbl_Top > tbody > tr.bBack > td:nth-child(2) > font:nth-child(4),
#ctl00_hl_Help,
#ctl00_tbl_Top > tbody > tr.bBack > td:nth-child(2) > font:nth-child(8),
#ctl00_hl_Support,
#ctl00_tbl_Top > tbody > tr.bBack > td:nth-child(2) > font:nth-child(10),
#ctl00_hl_Forum,
#ctl00_tbl_Top > tbody > tr.bBack > td:nth-child(2) > font:nth-child(12),

/* Hide left side-bar */
#ctl00_ContentPlaceHolder1_ctl00_Td1,

/* Hide "Important Announcements" spam */
#ctl00_ContentPlaceHolder1_C2 > table > tbody > tr > td:nth-child(2) > table,

/* Hide "Notifications" spam */
#ctl00_ContentPlaceHolder1_ctl00_lbl > div:nth-child(2),

/* Hide right side-bar
 * Note: Also hides password change reminder.
 */
#ctl00_ContentPlaceHolder1_ctl00_C3,

/* Hide tab container */
#ctl00_ContentPlaceHolder1_ctl00_TC_header,

/* Hide "Resource Bank" menu item */
#ctl00_TopMenun3,

/* Hide "Usage" menu item */
#ctl00_TopMenun4,

/* Hide "Owner/Manager" key in "Modules" tab */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_tblLegend,

/* Hide notice to create modules
 * Also delete unnecessary breaks
 */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module > table > tbody > tr > td > hr,
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > span,
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > br:nth-child(2),
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > br:nth-child(3),

/* Hide redundant text in "Student Modules" */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > table > tbody > tr > td:nth-child(1),

/* Hide psuedo-tree */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(7) > table > tbody > tr > td:nth-child(1),
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(7) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td:nth-child(1),

/* Hide bullets */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(7) > table > tbody > tr > td:nth-child(2) > img,
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(7) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td:nth-child(2) > img,

/* Hide icons beside module aspects */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(7) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td:nth-child(2) > a > img,

/* Hide icons beside module title */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(4) > table > tbody > tr > td:nth-child(2) > a > img,
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(7) > table > tbody > tr > td:nth-child(2) > a > img,

/* Hide What's New, Download, Refresh buttons */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > table > tbody > tr > td:nth-child(2) > a:nth-child(1) > img,
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > table > tbody > tr > td:nth-child(2) > a:nth-child(2) > img,
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > table > tbody > tr > td:nth-child(2) > a:nth-child(3) > img,

/* Hide banner info icon next to name */
#ctl00_hlProfileInfo > img,

/* Hide psuedo-tree for TAs */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(4) > table > tbody > tr > td:nth-child(1),
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(4) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td:nth-child(1),

/* Hide TA edit icon */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(4) > table > tbody > tr > td:nth-child(2) > a:nth-child(1) > img,
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(4) > table > tbody > tr > td > table > tbody > tr > td:nth-child(2) > a > img
{
    display: none;
}

/* Always expand modules */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(4) > table > tbody > tr,
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(7) > table > tbody > tr
{
    display: block !important;
}

/* Add vertical spacing between modules */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(7) > table > tbody > tr:not([id]) > td
{
    padding-top: 1.3em;
    padding-bottom: 0.3em;
}

/* Add vertical spacing between module aspects */
#ctl00_ContentPlaceHolder1_ctl00_TC_TP_Module_navTree > div:nth-child(7) > table > tbody > tr[id] > td:nth-child(2) > table > tbody > tr > td
{
    padding-bottom: 0.4em;
}

/* Remove border from modules */
#ctl00_ContentPlaceHolder1_ctl00_TC_body
{
    border: 0px;
}

/* Make links black */
a, a:visited
{
    text-decoration: none;
    color: #000;
}

/* Module code */
.wsLegendManager-txt,
.wsLegendOther-txt
{
    color: #000;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.8em;
}

/* Titles for module code and subsections */
.wsToolTitle-txt
{
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.1em;
}

/* Module section */
.wsToolLegendOther-txt,
.wsToolLegendManager-txt
{
    color: #000;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.5em;
}

/* Unpublished modules */
.wsLegendUnpublish-txt
{
    font-family: 'Roboto', 'sans-serif';
    font-size: 10pt;
}
